<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Eagle\Membership\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="eagle_membership_attributes" type="Eagle\Membership\Plugin\AddAttributesToUiDataProvider"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="membership_index_listing_data_source" xsi:type="string">EagleMembershipIndexCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EagleMembershipIndexCollection" type="Eagle\Membership\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">membership</argument>
            <argument name="resourceModel" xsi:type="string">Eagle\Membership\Model\ResourceModel\Index</argument>
        </arguments>
    </virtualType>

</config>
