<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Eagle\Membership\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="eagle_membership_attributes" type="Eagle\Membership\Plugin\AddAttributesToUiDataProvider"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eagle_membership_category_listing_data_source" xsi:type="string">EagleMembershipCategoryCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EagleMembershipCategoryCollection" type="Eagle\Membership\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_category_entity</argument>
            <argument name="resourceModel" xsi:type="string">Eagle\Membership\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

</config>
