<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eagle_Membership::home" title="Membership" module="Eagle_Membership" sortOrder="1000"
             parent="Magento_Customer::customer" resource="Magento_Customer::customer"
             action="membership/index/index"/>
    </menu>
</config>
